openapi: 3.0.3
info:
  title: SPOD (Spreadconnect) Fulfillment REST Articles API
  version: '1.0'
  description: REST API for SPOD (Spreadshirt Print-On-Demand), now branded Spreadconnect. Create customizable articles from designs, place and manage print-on-demand orders, choose shipping types and track shipments, browse the catalog of product types, check stock, and subscribe to webhook notifications for article, order, and shipment events. All requests are authenticated with a per-account API access token sent in the X-SPOD-ACCESS-TOKEN header. This document is an API Evangelist reference grounded in SPOD's published OpenAPI and developer documentation; verify request/response schemas against the live docs before production use.
  contact:
    name: SPOD
    url: https://www.spod.com
    email: business@spod.com
  termsOfService: https://faq.spod.com/hc/en-us/articles/360020630280
servers:
- url: https://rest.spod.com
  description: Production
- url: https://rest.spreadconnect-staging.app
  description: Staging / test environment
security:
- access_token: []
tags:
- name: Articles
paths:
  /articles:
    get:
      tags:
      - Articles
      operationId: getArticles
      summary: List articles
      description: Retrieve all articles for the account, paginated.
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: A paginated list of articles.
    post:
      tags:
      - Articles
      operationId: createArticle
      summary: Create an article
      description: Create a new customizable article by combining a design with a product type and view.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleRequest'
      responses:
        '201':
          description: The created article.
  /articles/{articleId}:
    get:
      tags:
      - Articles
      operationId: getArticle
      summary: Get an article
      parameters:
      - $ref: '#/components/parameters/ArticleId'
      responses:
        '200':
          description: The requested article.
        '404':
          description: Article not found.
    delete:
      tags:
      - Articles
      operationId: deleteArticle
      summary: Delete an article
      parameters:
      - $ref: '#/components/parameters/ArticleId'
      responses:
        '204':
          description: Article deleted.
components:
  schemas:
    ArticleRequest:
      type: object
      description: Article creation payload. Refer to the live SPOD docs for the full schema.
      properties:
        title:
          type: string
        description:
          type: string
        productTypeId:
          type: integer
        configurations:
          type: array
          items:
            type: object
  parameters:
    ArticleId:
      name: articleId
      in: path
      required: true
      schema:
        type: integer
  securitySchemes:
    access_token:
      type: apiKey
      in: header
      name: X-SPOD-ACCESS-TOKEN
      description: Per-account API access token generated in the SPOD / Spreadconnect web application. Send it as a header on every request.
